In [1]:
import pandas as pd
import numpy as np
import nltk

from nltk import word_tokenize
import requests

In [2]:
url = "https://lazyprogrammer.me/course_files/nlp/bbc_text_cls.csv"
response = requests.get(url)

with open('bbc_text_cls.csv', 'wb') as file:
    file.write(response.content)

In [3]:
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\ASUS\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [4]:
df = pd.read_csv('bbc_text_cls.csv')

In [5]:
df.head(10)

                                                text    labels
0  Ad sales boost Time Warner profit\n\nQuarterly...  business
1  Dollar gains on Greenspan speech\n\nThe dollar...  business
2  Yukos unit buyer faces loan claim\n\nThe owner...  business
3  High fuel prices hit BA's profits\n\nBritish A...  business
4  Pernod takeover talk lifts Domecq\n\nShares in...  business
5  Japan narrowly escapes recession\n\nJapan's ec...  business
6  Jobs growth still slow in the US\n\nThe US cre...  business
7  India calls for fair trade rules\n\nIndia, whi...  business
8  Ethiopia's crop production up 24%\n\nEthiopia ...  business
9  Court rejects $280bn tobacco case\n\nA US gove...  business

In [7]:
idx = 0
word2idx = {}
tokenized_docs = []

for doc in df['text']:
    words = word_tokenize(doc.lower())
    doc_as_int = []

    for word in words:
        if word not in word2idx:
            word2idx[word] = idx
            idx += 1

        doc_as_int.append(word2idx[word])

    tokenized_docs.append(doc_as_int)

In [8]:
idx2word = {v:k for k,v in word2idx.items()}

In [9]:
N = len(df['text'])

In [10]:
V = len(word2idx)

In [11]:
tf = np.zeros((N, V))

In [12]:
for i , doc_as_int in enumerate(tokenized_docs):
    for j in doc_as_int:
        tf[i,j] += 1

In [13]:
document_frequency = np.sum(tf > 0, axis = 0)
idf = np.log(N / document_frequency)

In [14]:
tf_idf = tf * idf

In [18]:
np.random.seed(42)

### Test the TFIDF vectorizer. Show 5 most relevant words from the randomly seleted document.

In [19]:
i = np.random.choice(N)
row = df.iloc[i]

print("Label:", row['labels'])
print("Text:", row['text'].split("\n", 1)[0])
print("Top 5 similar terms:")

scores = tf_idf[i]
indices = (-scores).argsort()

for j in indices[:5]:
    print(idx2word[j])

Label: entertainment
Text: Women in film 'are earning less'
Top 5 similar terms:
workforce
women
industry
film
%